04. Turn_ON_ Fb_Ads_FN.json
{
  "name": "04. Turn_ON_ Fb_Ads_FN",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        192,
        256
      ],
      "id": "916e1cad-c226-47d8-8b1a-eabe016c35a4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3acae58a-6d3c-4db5-a1aa-edf9cd88181b",
              "name": "access_token",
              "value": "",
              "type": "string"
            },
            {
              "id": "1dda0de4-888e-4d16-9892-0491110769e8",
              "name": "Nguong_CPA",
              "value": 50000,
              "type": "number"
            },
            {
              "id": "e06e933a-425d-4633-ac53-f70f7a04aec1",
              "name": "Cam_Chi_Tieu_Nguong_Tren",
              "value": 3500000,
              "type": "number"
            },
            {
              "id": "fa677240-82bc-4d7f-8920-075213b9bdf2",
              "name": "Cam_Chi_Tieu_Nguong_Duoi",
              "value": 1000000,
              "type": "number"
            },
            {
              "id": "3b389a25-5c9c-4253-bb1c-63a25ebb892a",
              "name": "ID_Ads",
              "value": "1036361418710293",
              "type": "string"
            },
            {
              "id": "2bdfd254-b79e-461b-bc1b-70e151024d10",
              "name": "Bao_Nhieu_Nhom_Tot",
              "value": 1,
              "type": "number"
            },
            {
              "id": "6454eca5-407b-426b-a213-5f0dffebd5c3",
              "name": "Ty_Gia",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        256
      ],
      "id": "bbf91a3a-6d64-41aa-b744-da5b5a59cc7e",
      "name": "Thông Số Đầu Vào"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f06248d3-79e8-4c06-9c27-e1f1a1a7116a",
              "name": "Nguong_Tren",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Tren / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "5edf6042-b206-4323-9a38-7b1b059548a0",
              "name": "Nguong_Duoi",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Duoi / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "d2749306-3ae1-43a5-be23-789910643ef4",
              "name": "Nguong_CPA",
              "value": "={{ $json.Nguong_CPA / $json.Ty_Gia }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        256
      ],
      "id": "45e47b30-3037-4ca5-b7da-c0265b449271",
      "name": "Quy Đổi Theo Tỷ Suất"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/act_{{ $('Thông Số Đầu Vào').first().json.ID_Ads }}/adsets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,daily_budget,insights.date_preset(maximum){spend,actions},campaign{id,name,status},ads{id,name,creative{effective_object_story_id}}"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "filtering",
              "value": "=[{\"field\":\"spend\",\"operator\":\"GREATER_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Duoi }}},{\"field\":\"spend\",\"operator\":\"LESS_THAN_OR_EQUAL\",\"value\":{{ $json.Nguong_Tren }}}]"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3163dd8a-655b-4d2e-bffe-4091184332a3",
      "name": "Lấy dữ liệu Nhóm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        864,
        256
      ],
      "notesInFlow": true,
      "notes": "Thay YOUR_TOKEN và ID tài khoản QC"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        256
      ],
      "id": "bee794c7-e6d5-403e-b719-f23517e9901d",
      "name": "Split Out Adsets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-campaign",
              "leftValue": "={{ $json.campaign.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        256
      ],
      "id": "3a2182ba-e268-4bf2-a62d-a71cd6c7a2d1",
      "name": "Lọc Campaigns Active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-paused-adset",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PAUSED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        256
      ],
      "id": "e3fbf2a5-9353-483e-b3dc-e5637bc6162d",
      "name": "Lọc Adsets PAUSED"
    },
    {
      "parameters": {
        "jsCode": "// Lấy thông số\nconst tyGia = $('Thông Số Đầu Vào').first().json.Ty_Gia;\nconst nguongCPA = $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA;\n\n// Xử lý item hiện tại (n8n sẽ tự động loop qua từng item từ Split Out)\nconst item = items[0];\nif (!item || !item.json) {\n  return [];\n}\n\n// Lấy insights\nconst insights = item.json.insights?.data?.[0] || null;\nif (!insights) {\n  return [];\n}\n\n// Tính tổng actions (comment + messaging)\nconst actions = insights.actions || [];\nlet totalActions = 0;\nfor (const action of actions) {\n  if (action.action_type === 'comment' || action.action_type === 'onsite_conversion.messaging_first_reply') {\n    totalActions += parseInt(action.value || 0);\n  }\n}\n\n// Tính CPA\nconst spend = parseFloat(insights.spend || 0);\nconst cpa = totalActions > 0 ? (spend * tyGia) / totalActions : (spend > 0 ? 999999 : 0);\n\n// Lấy post_id\nconst ads = item.json.ads?.data || [];\nlet postId = 'No Post ID Found';\nif (ads.length > 0) {\n  const creative = ads[0].creative || {};\n  postId = creative.effective_object_story_id || creative.object_story_id || ads[0].id || 'No Post ID Found';\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    calculated_cpa: cpa,\n    post_id: postId,\n    total_actions: totalActions,\n    spend: spend\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        112
      ],
      "id": "91f9b02d-d91f-4823-a6be-5403c35b3f68",
      "name": "Tính CPA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-cpa",
              "leftValue": "={{ $json.calculated_cpa }}",
              "rightValue": "={{ $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        184
      ],
      "id": "aac4a85d-4497-413f-a4d7-b2261a506c9c",
      "name": "Kiểm tra CPA <= Ngưỡng"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adset-id",
              "name": "adset_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "adset-name",
              "name": "adset_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "campaign-id",
              "name": "campaign_id",
              "value": "={{ $json.campaign.id }}",
              "type": "string"
            },
            {
              "id": "campaign-name",
              "name": "campaign_name",
              "value": "={{ $json.campaign.name }}",
              "type": "string"
            },
            {
              "id": "cpa-value",
              "name": "cpa",
              "value": "={{ $json.calculated_cpa }}",
              "type": "number"
            },
            {
              "id": "post-id",
              "name": "post_id",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ 'Bật lại adset: CPA tốt (CPA = ' + $json.calculated_cpa + ' <= ' + $('Quy Đổi Theo Tỷ Suất').first().json.Nguong_CPA + ')' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        184
      ],
      "id": "d16ee5bd-0f63-4a62-9578-8bf1a5270310",
      "name": "Chuẩn bị dữ liệu"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.adset_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ACTIVE"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5dfaf66-2128-41e8-b6d1-1ec502714aea",
      "name": "Bật nhom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2656,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Các nhóm mà AI đã tắt nếu 1h hoặc 2h sau mà chi phí/khách < Nguong_CPA thì bật lại (chỉ với campaign đang ACTIVE)",
        "height": 528,
        "width": 2896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        16
      ],
      "id": "90ab39f9-94bf-461f-aef4-e5b804ff3c20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        256
      ],
      "id": "1447431d-f117-4823-a921-e8071bc067e2",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Thông Số Đầu Vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông Số Đầu Vào": {
      "main": [
        [
          {
            "node": "Quy Đổi Theo Tỷ Suất",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quy Đổi Theo Tỷ Suất": {
      "main": [
        [
          {
            "node": "Lấy dữ liệu Nhóm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy dữ liệu Nhóm": {
      "main": [
        [
          {
            "node": "Split Out Adsets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Adsets": {
      "main": [
        [
          {
            "node": "Lọc Campaigns Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Campaigns Active": {
      "main": [
        [
          {
            "node": "Lọc Adsets PAUSED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Adsets PAUSED": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính CPA": {
      "main": [
        [
          {
            "node": "Kiểm tra CPA <= Ngưỡng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra CPA <= Ngưỡng": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuẩn bị dữ liệu": {
      "main": [
        [
          {
            "node": "Bật nhom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Tính CPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bật nhom": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d33a160-d8fa-4a2f-a33d-134c55fcadd1",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "Nmt2QvqYA0MrY81L",
  "tags": []
}